/* All styles for your Card Components live here */
.card {
  align-self: flex-end;
  width: 85%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid gray;
  border-radius: 10px;
  
}

.card-banner img {
  width: 100%;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.card-content {
  padding: 0 2%;
}

.card-content h2 {
  font-weight: bold;
  font-size: 18px;
}

.card-content :last-child {
  color: darkgray;
}