.btn-container {
  width: 100%;
  display: flex;
  text-align: center;
  

  .btn-left {
    width: 75%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 45px;

    .action-btn {
      width: 100%;
      border: 1px solid gray;
      margin: 0;
      padding: 19px 0;
    }

    .number-pad {
      width: 100%;
      display: flex;
      flex-flow: row wrap-reverse;
      align-self: flex-end;
      
      .number-btn {
        width: 112px;
        border: 1px solid gray;
        padding: 19px 0;
      }
    }
  }

  .btn-right {
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    

    button {
      background: #A0001E;
      color: white;
      font-size: 70px;
      border: 1px solid gray;
      padding: 5px 0;    
    }
  }
}